table{
    width: 100%;
}
thead tr th{
    padding-left: 30px;
    font-size: 1.5em;
}
.th-name{
    padding-left:100px;
}
tr:nth-child(even){
    background-color: grey;
}
tr:nth-child(odd){
    background-color: rgba(88, 88, 88, .5);
}